asn1crypto==1.4.0
blinker==1.4
cffi==1.14.5
chardet==3.0.4
cryptography==3.4.6
click==7.1.2
Flask==1.1.2
docutils==0.16
Flask-Mail==0.9.1
Flask-MySQL==1.5.2
idna==3.1
Flask-SQLAlchemy==2.5.1
itsdangerous==1.1.0
Jinja2==2.11.3
lamson==1.3.4
lockfile==0.12.2
MarkupSafe==1.1.1
mock==4.0.2
nose==1.3.7
pbr==5.5.1
PyMySQL==1.0.2
pycparser==2.20
python-daemon==2.3.0
python-modargs==1.7
six==1.15.0
SQLAlchemy==1.4.2
Werkzeug==1.0.1
